@page "/auth"
@inject IJSRuntime JS


<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h1 class="auth-title">Բարի վերադարձ</h1>
            <p class="auth-subtitle">Մուտք գործեք ձեր երաժշտական ճանապարհորդությունը շարունակելու համար</p>
        </div>

        <div class="auth-tabs">
            <a data-tab="login" class="tab-button" href = "/login">Մուտք</a>
            <a data-tab="register" class="tab-button" href ="/register">Գրանցում</a>
        </div>

     </div>
</div>
